# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
env/
ENV/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# C / C++
a.out
*.o
testCoverage
testCoverageC

# macOS
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
.vs/
*.swp
*.swo
*~

# Flask
instance/
.webassets-cache

# Processed files
CallAnalysisTool/backend/output/

# Test data (Confidential)
CallAnalysisTool/test_data/

# Docker exports
CallAnalysisTool/offline_backup*/

# Environmental variables (confidential)
.env
.env.local

# Other
*.log
.VSCodeCounter/
